@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*,
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

#app {
	display: grid;
	place-content: center;
	width: 100vw;
	height: 100vh;
	font-family: Merriweather;
	font-size: 1.5rem;
}

#app > #app-typed {
	text-align: center;
}
